%header
  = render partial: 'partials/devise_links'
  .container_12
    .grid_12
      .socials
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
        %a.last{:href => "#"}
      %h1
        %a{:href => root_path}
          =image_tag "logo.png"
      .menu_block
        %nav#bt-menu.bt-menu
          %a.bt-menu-trigger{:href => "#"}
            %span Menu
          %ul
            %li.current.bt-icon
              %a{:href => root_path} Home
            %li.bt-icon
              =link_to "Menu", menu_path
            %li.bt-icon
              = link_to "About", about_path
            %li.bt-icon
              =link_to "Reservation", new_reservation_path
            %li.bt-icon
              = link_to "Contacts", contact_path

        .clear
      .clear
      .center.store
        = link_to "My Store", root_path
        .cart-text= render 'layouts/cart_text'
