%header
  = render partial: 'partials/devise_links'
  .container_12
    .grid_12
      .socials
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
        %a.last{:href => "#"}
      %h1
        %a{:href => root_path}
          =image_tag "logo.png"
      .menu_block
        %nav#bt-menu.bt-menu
          %a.bt-menu-trigger{:href => "#"}
            %span Menu
          -if user_signed_in? && !(current_user.person.has_role? :client)
            = render partial: 'partials/menu/menu'
          -else
            = render partial: 'partials/menu/client'

        .clear
      .clear
      .center.store
        = link_to "My Store", root_path
        .cart-text= render 'layouts/cart_text'
