=form_for @reservation do |f|
  .form-horizontal
    %h3.center= "Your reservation"
    .form-body
      .form-group.row
        %label.control-label.col-md-3 Choose A Table
        .col-md-7
          = f.select :table_id, options_for_select(Table.all.map{|t| ["#{t.nr} Miejsc: #{t.quantity}", t.id, {"data-table"=> t.nr}]}), {prompt: 'Select'}, {class: "form-control"}
      .form-group.row
        %label.control-label.col-md-3 Choose A Date
        .col-md-7
          .input-append.date.form_datetime
            = f.text_field :release_at, :readonly => "readonly", class: 'form-control'
            %span.add-on
              %i.icon-th
      .form-body
        .form-group.row
          .center= "Fill this field or #{link_to 'Sign In', new_user_session_path, style: 'color: blue'}".html_safe
      .form-group.row
        %label.control-label.col-md-3 Your E-mail
        .col-md-7
          = f.text_field :email, :class => 'form-control'
  %div.margin-top-10
    .center=f.button "Submit", :class=>"btn btn-primary", :type=>'submit'
