%ul.nav.nav-tabs
  -Person.valid_roles.each do |i|
    %li{class: params[:tab] == i.to_s ? 'active' : ''}
      %a{:href => users_path(tab: i.downcase), :role => "tab"}= i.to_s.pluralize.camelize

.tab-content
  .content
    %table.table
      %thead
        %tr
          %th ID
          %th Email
          %th First name
          %th Last name
          %th Roles
          %th{:colspan => "2"}
      %tbody
        - @persons.each do |person|
          %tr
            %td= person.id
            %td= person.user.try(:email)
            %td= person.first_name
            %td= person.last_name
            %td= person.roles.map{|k,v| k}.join(',')
            %td= link_to 'Show', user_path(person.user) if person.user
            -if can? :manage, person.user
              %td= link_to 'Destroy', user_path(person.user), method: :delete, data: { confirm: 'Are you sure?' }
    -if can? :create, User
      = link_to 'Add new user', new_user_path
