.content
  %h1 Users
  %table.table
    %thead
      %tr
        %th Email
        %th First name
        %th Last name
        %th Roles
        %th{:colspan => "2"}
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.person.try(:first_name)
          %td= user.person.try(:last_name)
          %td= user.person.try(:roles)
          %td= link_to 'Show', user_path(user)
          -if can? :manage, user
            %td= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
  -if can? :create, User
    = link_to 'Add new user', new_user_path
