.content
  .container_12
    .grid_12
      %h3.head2 Our Menu
    .tabs.tb.gallery
      .div-nav
        .grid_12
          %ul.nav
            -@category_first = @categories.to_a.shift
            %li{class: params[:tab].blank? || params[:tab] == @category_first.name ? 'selected' : ''}
              %a{:href => "?tab=#{@category_first.name}"}
                = @category_first.name

            -@categories.each do |c|
              %li{class: params[:tab] == "#{c.name}" ? 'selected' : ''}
                %a{:href => "?tab=#{c.name}"}
                  = c.name
        = render partial: 'products', locals: {products: params[:tab].blank? ? @category_first.products : Category.find_by(name:params[:tab]).products}
