.row
  .col-md-12
    = form_for(@product) do |f|
      - if @product.errors.any?
        #error_explanation
          %h2
            = pluralize(@product.errors.count, "error")
            prohibited this order from being saved:
          %ul
            - @product.errors.full_messages.each do |message|
              %li= message
      %h4.center= "Add new product"
      .form-horizontal
        .form-group
          = f.label :category, :class => 'col-md-3 control-label'
          .col-md-7
            = f.collection_select :category_id, Category.all, :id, :name, {}, :class => 'form-control'
        .form-group
          = f.label :name, :class => 'col-md-3 control-label'
          .col-md-7
            = f.text_field :name, :class => 'form-control'
        .form-group
          = f.label :price, :class => 'col-md-3 control-label'
          .col-md-7
            = f.price_field :price, :class => 'form-control'
        .form-group
          = f.label :weight, :class => 'col-md-3 control-label'
          .col-md-7
            = f.number_field :weight, :class => 'form-control'
        .form-group
          = f.label :unit, :class => 'col-md-3 control-label'
          .col-md-7
            = f.number_field :unit, :class => 'form-control'
        .form-group
          = f.label :quantity, :class => 'col-md-3 control-label'
          .col-md-7
            = f.number_field :quantity, :class => 'form-control'
        .form-group
          = f.label :description, :class => 'col-md-3 control-label'
          .col-md-7
            = f.text_area :description, :class => 'form-control'
        .form-group
          = f.label :image, :class => 'col-md-3 control-label'
          .col-md-7
            = image_tag @product.image.url(:thumb) if !@product.new_record?
            =f.file_field :image
        .form-group
          .col-sm-offset-2.col-sm-10
            .checkbox
              %b
                = f.check_box :is_active, :class => 'col-md-3'
                = f.label :is_active, "Active", :class => 'col-md-1 control-label'
        %div.margin-top-10
          .center=f.button "Save", :class=>"btn btn-primary", :type=>'submit'
