!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    =favicon_link_tag "favicon.ico", rel: "icon"
    =favicon_link_tag "favicon.ico", rel: "shortcut icon"
    %title Restaurant
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: "partials/header"
    = yield
    = render partial: "partials/content"
    = render partial: "partials/footer"
